@page "/admin"
@rendermode InteractiveAuto
@inject HttpClient Http
@inject NavigationManager navigation
<PageTitle>Panel administratora</PageTitle>

<h1>Panel administratora</h1>

<Tabs>
    <Tab Title="Słowniki" IsActive="true">
        <Content>
            <Tabs>
                <Tab Title="Projekty" IsActive="true">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var project in projects)
                                {
                                    <tr>
                                        <th scope="row">@projects.IndexOf(project)</th>
                                        <td>@project.Name</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Stacje paliw">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">

                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var gasStation in gasStations)
                                {
                                    <tr>
                                        <th scope="row">@gasStations.IndexOf(gasStation)</th>
                                        <td>@gasStation.Name</td>
                                        <td>@gasStation.Description</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Mechanicy">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Opis</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mechanic in mechanics)
                                {
                                    <tr>
                                        <th scope="row">@mechanics.IndexOf(mechanic)</th>
                                        <td>@mechanic.Name</td>
                                        <td>@mechanic.Description</td>
                                        <td></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </Content>
                </Tab>
                <Tab Title="Operatorzy">
                    <Content>
                        <table class="mt-2 table-dark table-hover table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Imię</th>
                                    <th scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var oper in operators)
                                {
                                    <tr>
                                        <th scope="row">@operators.IndexOf(oper)</th>
                                        <td>@oper.Name</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </Content>
                </Tab>
            </Tabs>
        </Content>
    </Tab>
    
</Tabs>