@page "/cars/{Id}"
@rendermode InteractiveAuto
@using BlazorBootstrap
@using Valhalla_v3.Shared.CarHistory
@using Valhalla_v3.Client.Components
@inject NavigationManager navigation
@inject HttpClient Http

<div class="container-fluid text-color-black text-center">
    <div class="row">
        <div class="col-md-4 mb-4">
            <button type="button" class="btn btn-outline-secondary h-100 w-100" @onclick="OpenFuel">Dodaj tankowanie</button>
        </div>
        <div class="col-md-4 mb-4"></div>
        <div class="col-md-4 mb-4">
            <button type="button" class="btn btn-outline-secondary h-100 w-100" @onclick="OpenRepair">Dodaj naprawę</button>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link @(activeTab == Tabs.Details ? "active" : "")" @onclick="() => SelectTab(Tabs.Details)">Szczegóły</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(activeTab == Tabs.Statystic ? "active" : "")" @onclick="() => SelectTab(Tabs.Statystic)">Statystyki</a>
            </li>
        </ul>
    </div>
    
    @if (activeTab == Tabs.Details)
    {
        <div class="row mt-3">
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" disabled="@isDisabled" id="InTextMarka" @bind-value="car.Brand"/>
                    <label for="InTextMarka">Marka</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" disabled="@isDisabled" id="InTextModel" @bind-value="car.Model"/>
                    <label for="InTextModel">Model</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="number" class="form-control" disabled="@isDisabled" id="InNumRokProdukcji" @bind-value="car.Year">
                    <label for="InNumRokProdukcji">Rok produkcji</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="number" class="form-control" disabled="@isDisabled" id="InNumEngineCC" @bind-value="car.EngineCC">
                    <label for="InNumEngineCC">Pojemność silnika</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="text" class="form-control" disabled="@isDisabled" id="InTextVin" @bind-value="car.VIN">
                    <label for="InTextVin">VIN</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="number" class="form-control" disabled id="InNumPrzebieg" @bind-value="mileage">
                    <label for="InNumPrzebieg">Aktualny przebieg</label>
                </div>
            </div>
        </div>
        <div class="row">@*Trzecia linia*@
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Ubezpieczenie</a>
                </li>
            </ul>
            <div class="col-md-4 mb-4 mt-3">
                <div class="form-floating">
                    <input type="date" disabled="@isDisabled" class="form-control" id="InDateDataUbezp" @bind-value="@car.InsuranceDate">
                    <label for="InDateDataUbezp">Data ważności</label>
                </div>
            </div>
            <div class="col-md-4 mb-4 mt-3">
                <div class="form-floating">
                    <input type="number" disabled="@isDisabled" class="form-control" id="InNumCost" @bind-value="@car.InsuranceCost">
                    <label for="InNumCost">Koszt osatniego ubezpieczenia</label>
                </div>
            </div>
        </div>
        <div class="row">@*Czwarta linia*@
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active">Przegląd</a>
                </li>
            </ul>
            <div class="col-md-4 mb-4 mt-3">
                <div class="form-floating">
                    <input type="date" disabled="@isDisabled" class="form-control" id="InDateDataPrzegladu" @bind-value="@car.SurveyDate">
                    <label for="InDateDataPrzegladu">Data ostatniego przeglądu</label>
                </div>
            </div>
            <div class="col-md-4 mb-4 mt-3">
                <div class="form-floating">
                    <input type="number" disabled="@isDisabled" class="form-control" id="InNumCostPrzglad" @bind-value="@car.SurveyCost">
                    <label for="InNumCostPrzglad">Koszt osatniego przeglądu</label>
                </div>
            </div>
        </div>
    }

    @if (activeTab == Tabs.Statystic)
    {
        <div class="row mt-3">
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="number" class="form-control" disabled id="InNumCostFuel" @bind-value="@fuelCost">
                    <label for="InNumCostFuel">Koszt tankowania</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="number" class="form-control" disabled id="InNumCostRepair" @bind-value="@repairCost">
                    <label for="InNumCostRepair">Koszt napraw</label>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="form-floating">
                    <input type="number" class="form-control" disabled id="InNumCostSum" @bind-value="@sumCost">
                    <label for="InNumCostSum">Koszt łączny</label>
                </div>
            </div> 
        </div>
        <div class="row mt-3">
            <div class="col-md-4 col-sm-1 mb-4 text-color-white chart-min-height">
                <LineChart @ref="lineCharts[0]" Style="width: 100%" Height="300"/>
            </div>
            <div class="col-md-4 col-sm-1 mb-4 text-color-white chart-min-height">
                <LineChart @ref="lineCharts[1]" Style="width: 100%" Height="300" />
            </div>
            <div class="col-md-4 col-sm-1 mb-4 text-color-white chart-min-height">
                <LineChart @ref="lineCharts[2]" Style="width: 100%" Height="300" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 col-sm-1 mb-4 text-color-white chart-min-height">
                <LineChart @ref="lineCharts[3]" Style="width: 100%" Height="300" />
            </div>
            <div class="col-md-4 col-sm-1 mb-4 text-color-white chart-min-height">
                <LineChart @ref="lineCharts[4]" Style="width: 100%" Height="300" />
            </div>
        </div>
    }
</div>

<div class="modal fade @(isFuelOpen ? "show" : "")" tabindex="-1" style="display:@(isFuelOpen ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tankowanie</h5>
                <button type="button" class="btn-close" @onclick="CloseFuel"></button>
            </div>
            <div class="modal-body">
                <FuelAddModal OnFormFuelSubmit="@(model => HandleSubmitAsync<CarHistoryFuel>("api/Fuel", model))" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade @(isRepairOpen ? "show" : "")" tabindex="-1" style="display:@(isRepairOpen ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Naprawa</h5>
                <button type="button" class="btn-close" @onclick="CloseRepair"></button>
            </div>
            <div class="modal-body">
                <RepairAddModal OnFormSubmit="@(model => HandleSubmitAsync<CarHistoryRepair>("api/Repair", model))" />
            </div>
        </div>
    </div>
</div>

<ChoiceModal SubmitChoice="DeleteAsync" Question="Czy chcesz usunąć samochód?" isChoiceOpen="@isChoiceOpen" />

<div class="fixed-buttons">
    <button class="btn btn-success" style="display: @(isDisabled ? "none" : "block")" @onclick="SaveAsync">Zapisz</button>
    <button class="btn btn-primary" style="display: @(Id == "0" ? "none" : "block")" @onclick="EditModal">Edytuj</button>
    <button class="btn btn-danger" style="display: @(Id == "0" ? "none" : "block")" @onclick="ChoiceModal">Usuń</button>
</div>
