@using Valhalla_v3.Shared.CarHistory
@inject NavigationManager navigation

<EditForm Model="@gasStation" OnValidSubmit="HandleValidStationSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Cost" class="form-label">Nazwa</label>
        <InputText id="Cost" class="form-control" @bind-Value="gasStation.Name" required />
        <ValidationMessage For="@(() => gasStation.Name)" />
    </div>
    <div class="mb-3">
        <label for="CostPerLitr" class="form-label">Opis</label>
        <InputTextArea id="CostPerLitr" class="form-control" @bind-Value="gasStation.Description" />
        <ValidationMessage For="@(() => gasStation.Description)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Ulica</label>
        <InputText id="Mileage" class="form-control" @bind-Value="gasStation.Street" />
        <ValidationMessage For="@(() => gasStation.Street)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Numer</label>
        <InputText id="Mileage" class="form-control" @bind-Value="gasStation.StreetNumber" />
        <ValidationMessage For="@(() => gasStation.StreetNumber)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Kod pocztowy</label>
        <InputText id="Mileage" class="form-control" @bind-Value="gasStation.PostalCode" />
        <ValidationMessage For="@(() => gasStation.PostalCode)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Miasto</label>
        <InputText id="Mileage" class="form-control" @bind-Value="gasStation.City" />
        <ValidationMessage For="@(() => gasStation.City)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Kraj</label>
        <InputText id="Mileage" class="form-control" @bind-Value="gasStation.Country"/>
        <ValidationMessage For="@(() => gasStation.Country)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Telefon 1</label>
        <InputText id="Mileage" class="form-control" @bind-Value="gasStation.Phone1" />
        <ValidationMessage For="@(() => gasStation.Phone1)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Telefon 2</label>
        <InputText id="Mileage" class="form-control" @bind-Value="gasStation.Phone2" />
        <ValidationMessage For="@(() => gasStation.Phone2)" />
    </div>
    <button class="btn btn-primary w-50" type="submit">Zapisz</button>
</EditForm>

<script>

        // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })()
</script>