@using Valhalla_v3.Shared.CarHistory
@inject NavigationManager navigation

<EditForm Model="@mechanic" OnValidSubmit="HandleValidStationSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Cost" class="form-label">Nazwa</label>
        <InputText id="Cost" class="form-control" @bind-Value="mechanic.Name" requierd/>
        <ValidationMessage For="@(() => mechanic.Name)" />
    </div>
    <div class="mb-3">
        <label for="CostPerLitr" class="form-label">Opis</label>
        <InputTextArea id="CostPerLitr" class="form-control" @bind-Value="mechanic.Description" />
        <ValidationMessage For="@(() => mechanic.Description)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Ulica</label>
        <InputText id="Mileage" class="form-control" @bind-Value="mechanic.Street" />
        <ValidationMessage For="@(() => mechanic.Street)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Numer</label>
        <InputText id="Mileage" class="form-control" @bind-Value="mechanic.StreetNumber" />
        <ValidationMessage For="@(() => mechanic.StreetNumber)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Kod pocztowy</label>
        <InputText id="Mileage" class="form-control" @bind-Value="mechanic.PostalCode" />
        <ValidationMessage For="@(() => mechanic.PostalCode)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Miasto</label>
        <InputText id="Mileage" class="form-control" @bind-Value="mechanic.City" />
        <ValidationMessage For="@(() => mechanic.City)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Kraj</label>
        <InputText id="Mileage" class="form-control" @bind-Value="mechanic.Country"/>
        <ValidationMessage For="@(() => mechanic.Country)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Telefon 1</label>
        <InputText id="Mileage" class="form-control" @bind-Value="mechanic.Phone1" />
        <ValidationMessage For="@(() => mechanic.Phone1)" />
    </div>
    <div class="mb-3">
        <label for="Mileage" class="form-label">Telefon 2</label>
        <InputText id="Mileage" class="form-control" @bind-Value="mechanic.Phone2" />
        <ValidationMessage For="@(() => mechanic.Phone2)" />
    </div>
    <button class="btn btn-primary w-50" type="submit">Zapisz</button>
</EditForm>

