@using Valhalla_v3.Shared.CarHistory
@inject NavigationManager navigation
@inject HttpClient Http

<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header modal-header-moje">
            <h5 class="modal-title" id="exampleModalLabel">Zadanie</h5>
            <button type="button" class="btn-close" @onclick="Close"></button>
        </div>
        <div class="modal-body modal-body-moje">
            <EditForm Model="@formModel" OnValidSubmit="HandleValidStationSubmit">
                <div class="container-fluid text-color-black">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="mb-2">
                                <label for="formGroupExampleInput" class="form-label">Projekt</label>
                                <select class="form-select" id="formGroupExampleInput" aria-label="Default select example" @bind=@formModel.ProjectId>
                                    @if (projectsId != 0)
                                    {
                                        <option selected value="@projects.Select(x => x.Id).First(x => x == projectsId)">@projects.Where(x => x.Id == projectsId).Select(x => x.Name)</option>
                                    }
                                    else
                                    {
                                        <option value="0">Wybierz projekt</option>
                                    }
                                    @foreach (var project in projects.Where(x => x.Id != projectsId))
                                    {
                                        <option value="@project.Id">@project.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-2">
                                <label for="Name" class="form-label">Nazwa</label>
                                <InputText id="Name" class="form-control" @bind-Value="@formModel.Name" />
                            </div>
                            <div class="mb-2">
                                <label for="Description" class="form-label">Opis</label>
                                <InputTextArea id="Description" class="form-control" @bind-Value="@formModel.Description" />
                            </div>
                            <div class="mb-2">
                                <label for="Term" class="form-label">Termin</label>
                                <InputDate id="Term" class="form-control" @bind-Value="@formModel.Term" />
                            </div>
                            <div class="mb-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @bind="@formModel.IsCompleted" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Zakończono 
                                    </label>
                                </div>
                            </div>
                            <div class="mb-2">
                                <button class="btn btn-primary w-100" type="submit">Zapisz</button>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            @foreach(var com in formModel.Comments)
                            {
                                <div class="p-2 m-1 border-black rounded border">
                                    <label class="form-label">@com.Content</label>
                                </div>
                            }
                            <div class="mb-2">
                                <InputTextArea class="form-control w-100" placeholder="Komentarz" aria-label="Komentarz" @bind-Value="kom" />
                            </div>
                            <div class="mb-2">
                                <button class="btn btn-primary w-100" @onclick="addCom">Dodaj komentarz</button>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>