 @page "/jobs"
@using Valhalla_v3.Shared.ToDo
@rendermode InteractiveAuto
@inject NavigationManager navigation
@inject HttpClient Http

<PageTitle>Zadania</PageTitle>

<div class="container-fluid text-color-black">
    <div class="row">
        <div class="col-md-4 mb-4">
            <label for="formGroupExampleInput" class="form-label text-white">Projekt</label>
            <select class="form-select" id="formGroupExampleInput" aria-label="Default select example" @bind="projectsId" @bind:after="() =>SetProject()">
                @if (projectsId != 0)
                {
                    <option selected value="@projects.Select(x => x.Id).First(x => x == projectsId)">
                        @projects.Where(x => x.Id == projectsId).Select(x => x.Name).First()
                    </option>
                }
                else
                {
                    <option value="0">Wybierz projekt</option>
                }
                @foreach (var project in projects.Where(x => x.Id != projectsId))
                {
                    <option value="@project.Id">@project.Name</option>
                }
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" @onclick=OpenTextModal>Dodaj projekt</button>
        </div>
    </div>
    <div class="row">
        <MudDropContainer T="Job" Items="_items" ItemsSelector="@((item,dropzone) => (item.Term <= DateTime.Today ? "przedawnione":"Dzisiaj") == dropzone)" ItemDropped="ItemUpdated" Class="d-flex flex-grow-1 flex-wrap">
            <ChildContent>
                <MudPaper Class="ma-4 flex-grow-1">
                    <MudList T="Job" Class="d-flex flex-column mud-height-full">
                        <MudListSubheader>Po terminie</MudListSubheader>
                        <MudDropZone T="Job" Identifier="przedawnione" Class="flex-grow-1" />
                    </MudList>
                </MudPaper>
                <MudPaper Class="ma-4 flex-grow-1">
                    <MudList T="Job" Class="d-flex flex-column mud-height-full">
                        <MudListSubheader>Dzisiaj</MudListSubheader>
                        <MudDropZone T="Job" Identifier="Dzisiaj" Class="flex-grow-1" />
                    </MudList>
                </MudPaper>
            </ChildContent>
            <ItemRenderer>
                <MudListItem T="string" Text="@context.Name">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" role="switch" id=@($"flexSwitchCheckDefault{context.Id}") @bind="@context.IsCompleted">
                        <label class="form-check-label" for=@($"flexSwitchCheckDefault{context.Id}")>@context.Name</label>
                        <button class="btn btn-outline-primary" @onclick="() => OpemModal(context.Id)">Szczegóły</button>
                    </div>
                </MudListItem>
            </ItemRenderer>
        </MudDropContainer>
    </div>
</div>
<div class="fixed-buttons">
    <button class="btn btn-success" @onclick="()=>OpemModal(0)">Dodaj nowy</button>
</div>
@foreach(var proj in _items)
{
    <h1>@proj.Name</h1>
}
@* Modal dodanie napraw *@
<div class="modal fade @(IsCreateOpen ? "show" : "")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:@(IsCreateOpen ? "block" : "none");">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-moje">
                <h5 class="modal-title" id="exampleModalLabel">Zadanie</h5>
                <button type="button" class="btn-close" @onclick="CloseModal"></button>
            </div>
            <div class="modal-body modal-body-moje">
                <JobAddModal OnFormSubmit="Create" Id="_id" />
            </div>
        </div>
    </div>
</div>

<Valhalla_v3.Client.Components.TextModal Question="Podaj nazwę projektu" isChoiceOpen="@IsTextOpen" SubmitChoice="CreateProjekt"/>