 @page "/jobs"
@using Valhalla_v3.Shared.ToDo
@rendermode InteractiveAuto
@inject NavigationManager navigation
@inject HttpClient Http

<PageTitle>Zadania</PageTitle>

<div class="container-fluid text-color-black">
    <div class="row">
        <div class="col-md-4 mb-1">
            <label for="formGroupExampleInput" class="form-label text-white">Projekt</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <select class="form-select" id="formGroupExampleInput" aria-label="Default select example" @bind="projectsId" @bind:after="() =>SetProject()">
                @if (projectsId != 0)
                {
                    <option selected value="@projects.Select(x => x.Id).First(x => x == projectsId)">
                        @projects.Where(x => x.Id == projectsId).Select(x => x.Name).First()
                    </option>
                }
                else
                {
                }
                    <option value="0">Wybierz projekt</option>
                @foreach (var project in projects.Where(x => x.Id != projectsId))
                {
                    <option value="@project.Id">@project.Name</option>
                }
            </select>
        </div>
        <div class="col-md-2 mb-4">
            <button class="btn btn-primary" @onclick=OpenTextModal>Dodaj projekt</button>
        </div>
        <div class="col-md-2 text-white">
            <div class="form-check" @onclick="() => LoadJob()">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" @bind="OnlyNoDoneJobs" >
                <label class="form-check-label" for="flexCheckDefault">
                    Tylko niezakończone zadania
                </label>
            </div>
        </div>
    </div>
    <div class="row text-white">
        <div class="col-md-5 m-2">
            <h3>Po terminie</h3>
            <div ondragover="event.preventDefault()" class="border-secondary rounded border">
                @foreach (var item in _items.Where(x => x.Term < DateTime.Now.Date))
                {
                    <div class="border-success m-2 border" draggable="true" @ondragstart="e => DragStartHandler(e, item)">
                        <input class="form-check-input m-2" type="checkbox" @bind="item.IsCompleted" @onclick="() => SetProjectDone(item.Id)" />
                        <label class="form-check-label m-2" @onclick="()=>OpemModal(item.Id)" style="text-decoration: @(item.IsCompleted ? "line-through" : "none")">
                            @item.Name
                        </label>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-5 m-2">
            <h3>Dzisiaj</h3>
            <div ondragover="event.preventDefault()" class="border-secondary rounded border">
                @foreach (var item in _items.Where(x => x.Term == DateTime.Now.Date))
                {
                    <div class="border-success m-2 border" draggable="true" @ondragstart="e => DragStartHandler(e, item)">
                        <input class="form-check-input m-2" type="checkbox" @bind="item.IsCompleted" @onclick="() => SetProjectDone(item.Id)" />
                        <label class="form-check-label m-2" @onclick="()=>OpemModal(item.Id)" style="text-decoration: @(item.IsCompleted ? "line-through" : "none")">
                            @item.Name
                        </label>
                    </div>
                }
            </div>
        </div>

    </div>
</div>
<div class="fixed-buttons">
    <button class="btn btn-success" @onclick="()=>OpemModal(0)">Dodaj nowy</button>
</div>
@* Modal dodanie napraw *@
<div class="modal fade @(IsCreateOpen ? "show" : "")" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:@(IsCreateOpen ? "block" : "none");">
    <JobAddModal OnFormSubmit="Create" OnClose="CloseModal" formModel="job" projects="projects" Id="_id" />
</div>

<Valhalla_v3.Client.Components.TextModal Question="Podaj nazwę projektu" isChoiceOpen="@IsTextOpen" SubmitChoice="CreateProjekt" CloseModal="CloseProject" />

<script>
    let dragged = null;
    const source = document.getElementById("draggable");
source.addEventListener("dragstart", (event) => {
  // store a ref. on the dragged elem
  dragged = event.target;
});

const target = document.getElementById("drop-target");
target.addEventListener("dragover", (event) => {
  // prevent default to allow drop
  event.preventDefault();
});

target.addEventListener("drop", (event) => {
  // prevent default action (open as link for some elements)
  event.preventDefault();
  // move dragged element to the selected drop target
  if (event.target.className === "dropzone") {
    dragged.parentNode.removeChild(dragged);
    event.target.appendChild(dragged);
  }
});
</script>